.input-main-block {
    margin: 15px auto;
}

.text-style {
    font-size: 25px;
}

.field-style {
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 25px;
    padding: 0px 10px;
}